@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
* {
	box-sizing: border-box;
	user-select: none;
}

p {
	margin: 0;
}

body {
	margin: 0;
	height: fit-content;
	font-family: 'Nunito', sans-serif;

	color: #949aa7;
	background-color: transparent;
	overflow: hidden;

	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
}

input,
textarea,
select {
	margin: 5px 0;
	background-color: #292c35;
	color: #949aa7;
	border: none;
	outline: #949aa7;
	border-radius: 5px;
	padding: 5px 10px;
	font-family: 'Nunito', sans-serif;
	width: 100%;
	resize: none;
}

.tags-input {
    width: 70%;
}

.tags-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags-list-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tags-item {
    border-radius: 5px;
    padding: 3px 7px;
    background-color: #2c3644;
    font-size: 0.9em;
    cursor:pointer;
}

.btn.tags-button {
    width: 20%;
	color: #252525;
	border: none;
	background-color: #0566cf;
    padding: 0.3em 1em;
    margin: 0;
    height: 30px;
}

main {
	padding: 10px 15px;
	background-color: #1b1d23;
	height: 100%;
	width: 100%;
	border: 1px solid #343b38;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 8px;
}

.titleLabel {
	margin-top: 25px;
}

.button {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: inherit;
	fill: #949aa7;
	color: #949aa7;
	border-radius: 100%;
	height: 34px;
	width: 34px;
	border: none;

	transition: all 0.3s;
	cursor: pointer;
	margin: 0 3px;
}

.button:hover {
	background-color: #343b38;
}

.button:active {
	background-color: #4f9eee6c;
}

.modalOptionsContainer {
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
}

.btn {
	font-size: 18px;
	border-radius: 2px;
	padding: 0.3em 1.5em;
	margin: 10px;
	cursor: pointer;
	transition: background-color 0.2s ease-out;
}

.submitBtn {
	color: #252525;
	border: none;
	background-color: #0566cf;
}

.submitBtn:hover {
	background-color: hsl(211, 68%, 46%);
}

.submitBtn:active {
	background-color: #4088d5;
}

.cancelBtn {
	background-color: transparent;
	border: 1px solid gray;
	color: white;
}

.cancelBtn:hover {
	background-color: #949aa7;
}

.newCategoryDialog {
	background-color: #1b1d23;
	border-radius: 5px;
	border: 1px solid #343b38;
}
