
* {
	box-sizing: border-box;
	user-select: none;
}

p {
	margin: 0;
}

body {
    height: 100vh;
	margin: 0;
	font-family: 'Nunito', sans-serif;

	color: #949aa7;
    background: #1b1d23;

	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
}

.tableContainer {
    height: fit-content;
    overflow-y: auto;
    width: 100%;
    height: 460px;
}

.tableContainer::-webkit-scrollbar {
    background-color: transparent;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    padding: 1rem;
}

#closeBtn {
    position: absolute;
    right: 1rem;
	background-color: inherit;
	fill: #949aa7;
	color: #949aa7;
	border-radius: 100%;
	height: 34px;
	width: 34px;
	border: none;

	transition: all 0.3s;
	cursor: pointer;
	margin: 0 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
    display:table;
    border-spacing: 2px;
    border-color: gray;
    border-width: 1px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}


tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    color: #99a5b6;
    font-size: 1rem;
    line-height: 1.27;
    padding: 16px 12px;
    text-transform: uppercase;
    text-align: left;
}

td {
    padding-left: 14px;
}

.generalInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dateInput {
    padding: .5em;
    margin: 0 10px;
    background-color: #292c35;
    border-radius: 3px;
    border: none;
    color-scheme: dark;
}


.tasksSoFar::after {
    content: attr(data-tasks)
}

.totalDuration::after {
    content: attr(data-duration);
}
