@import url('./variables.css');

html {
	color: var(--color-text-secondary);
	background-color: var(--color-primary);
}

body {
	margin: 0;
	height: 100%;
	font-family: 'Nunito', sans-serif;
    padding: 1rem 1rem;
}

input {
    width: 70%;
    padding: .5em;
    margin: 0 10px;
    background-color: var(--color-input-bg);
    border-radius: 3px;
    border: none;
    color-scheme: dark;
}

button {
    width: 20%;
	color: var(--color-text-white);
	border: none;
	background-color: var(--color-button-primary);
    padding: 0.3em 1em;
    margin: 0;
    height: 30px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    display:table;
    border-spacing: 2px;
    border-color: var(--color-primary-border);
    border-width: 1px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}


tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    color: var(--color-text-secondary);
    font-size: 1rem;
    line-height: 1.27;
    padding: 16px 12px;
    text-transform: uppercase;
    text-align: left;
}

td {
    padding-left: 14px;
}

.action-item {
    width: 60px;
    cursor: pointer;
    text-align: right;
}

.inputs-container {
    display: flex;
    gap: 1rem;
}

.error-message {
    color: var(--color-status-error);
}

