@import url('./variables.css');

html {
	color: var(--color-text-secondary);
	background-color: var(--color-primary);
}

body {
	margin: 0;
	height: 100%;
	font-family: 'Nunito', sans-serif;
    padding: 1rem 1rem;
}

.primary-text {
    font-weight: bold;
}
